<!doctype html>
  <%- include("./layout/header.ejs") %>
  <body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6">
            
            <%- include("./locationSearch") %> 
            <%- include("./weatherCarousel") %> 
              
          </div>
          
          <%- include("./weatherDates") %> 
        </div>
      </div>

    
  <%- include("./layout/footer") %>
  </body>
</html>
